<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add name= "connectionString" connectionString="Server=DESKTOP-J00KO0M\SQLEXPRESS; Database=MyStore; Integrated Security=True;"/>
  </connectionStrings>

  <appSettings>
    <add key= "selectParent" value="SELECT * FROM Apps"/>
    <add key= "selectChildByParentID" value="SELECT * FROM AppImagesURL WHERE AppID = "/>
    <add key="childTableName" value="AppImagesURL"/>
    <add key="childColNumber" value="4"/>
    <add key="childColNames" value="urlID,appID,Name,URL"/>
    <add key="childColParams" value="@urlID,@appID,@name,@url"/>
    <add key ="addChild" value="INSERT INTO AppImagesURL (appID,Name,URL) VALUES (@urlID, @appID,@name,@url)"/>
    <add key ="updateChild" value="UPDATE AppImagesURL set appID = @appID, name = @name, URL = @url where urlID = @urlID"/>
    <add key ="deleteChild" value="DELETE FROM AppImagesURL where urlID = @urlID"/>
  </appSettings>
</configuration>