<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add name= "connectionString" connectionString="Server=DESKTOP-J00KO0M\SQLEXPRESS; Database=MyStore; Integrated Security=True;"/>
  </connectionStrings>

  <appSettings>
    <add key= "selectParent" value="SELECT * FROM Albums"/>
    <add key= "selectChildByParentID" value="SELECT * FROM Songs WHERE AlbumID = "/>
    <add key="childTableName" value="Songs"/>
    <add key="childColNumber" value="5"/>
    <add key="childColNames" value="songID,name,albumID,price,genre"/>
    <add key="childColParams" value="@song_id,@name,@album_id,@price,@genre"/>
    <add key ="addChild" value="INSERT INTO Songs (songID, name, albumID, price, genre) VALUES @songID, @name, @albumID, @price, @genre)"/>
    <add key ="updateChild" value="UPDATE Songs set name = @name, albumID = @albumID, price = @price, genre = @genre where songID = @songID"/>
  </appSettings>
</configuration>